@import './scss/_board.scss';
@import './scss/mixins';


// Styles ===
.mktoast {
  $color-default: #ECEFF1;
  $color-danger: #f44336;
  $color-ok: #8BC34A;
  $color-warning: #FFA726;
  $color-info: #1E88E5;

  // Message ===
  &-message__wrapper {
    transition: all 0.3s;
    overflow: hidden;
  }

  &-message {
    background-color: $color-default;
    border: 1px solid darken($color-default, 10%);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    position: relative;
    overflow: hidden;


    & > h2,
    &__title {
      font-size: inherit;
      margin: 0;
      padding: 5px 10px;
      background-color: darken($color-default, 5%);
    }
    &__body {
      padding: 10px;
      max-height: 200px;
      overflow: auto;
    }

    .mk-close {
      padding: 0px;
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      position: absolute;
      top: 0;
      right: 2px;
      font-size: 25px;
      line-height: 25px;

      &:after {
        content: '\00D7';
      }
    }

    &_danger {
      @include colorize($color-danger);
    }
    &_success {
      @include colorize($color-ok);
    }
    &_warning {
      @include colorize($color-warning);
    }
    &_info {
      @include colorize($color-info);
    }
  }
}
