.mktoast__board {
  $width: 300px;

  position: fixed;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  width: $width;
  z-index: 1002; // above leaflet.js attribution

  // board positioning
  &.mk-bottom {
    bottom: 0;
  }
  &.mk-top {
    top: 0;
  }
  &.mk-left {
    left: 0;
  }
  &.mk-right {
    right: 0;
  }
  &.mk-center {
    left: 50%;
    margin-left: -1 * $width/2;
  }

  &.mk-bottom .mktoast-message {
    margin-top: 0;
  }
}

// Responsive

@media (max-width: 375px) {
  .mktoast__board {
    width: 100%;
  }
}
